<div class="page-content">
    <div class="action-menu border-btm">
        <div class="row mb-3">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="searchForDate" class="label-default">File Name:</label>
                {{errorRecordDetails.fileName}}
                <button type="button" class="float-right btn btn-primary btn-sm mr-3" (click)="downloadRecord()"
                    tile="Download Record as File">Download</button>
            </div>
        </div>
    </div>
    <div class="file-contents">
        <p class="view-error-panel">{{errorRecordDetails.data}}</p>
    </div>
</div>