<div class="citi-blue-bar">
    <div class="container-header">
        <h1 class='title'>{{ title }}</h1>
        <div class="citi-logo">
            <a href="//www.citigroup.com/citi/"><img alt="citi-logo" src="assets/img/brand/citi-logo-no-r.png"></a>
        </div>
    </div>
</div>
<div class='main-citi-nav'>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style='float:left'>
        <li class="nav-item" routerLinkActive="active" id="mongoBrowserTab" data-toggle="pill" role="tab" aria-selected="false">
            <a [routerLink]="['error']">{{ screenNames.error }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active" id="approvalTab" data-toggle="pill" role="tab" aria-selected="false">
            <a [routerLink]="['review']">{{ screenNames.approve }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active" id="historyTab" data-toggle="pill" role="tab" aria-selected="false">
            <a [routerLink]="['history']">{{ screenNames.history }}</a>
        </li>
    </ul>
    <ul class='logindetails' style='float:right'>
        <li><i class="fa fa-user"></i> John Deo</li>
        <li title='logout'><a href='#' class='link'><i class="glyphicon glyphicon-off"></i></a></li>
    </ul>
</div>
<div class='maincontainer'>
    <router-outlet></router-outlet>
</div>