<div>
  <div class="citi-blue-bar">
    <div class="container-header">
      <h1 class='title'>{{ title }}</h1>
      <div class="citi-logo">
        <a href="//www.citigroup.com/citi/"><img alt="citi-logo" src="assets/img/brand/citi-logo-no-r.png"></a>
      </div>
    </div>
  </div>
  <div class='main-citi-nav'>
    <ul class='logindetails' style='float:right'>
      <li><i class="fa fa-user"></i> John Deo</li>
      <li title='logout'><a href='#' class='link'><i class="glyphicon glyphicon-off"></i></a></li>
    </ul>
  </div>
</div>
<div class='maincontainer'>
  <router-outlet></router-outlet>
</div>