<div class='panel'>
    <div class='panelHeader'>
        {{ title }}
    </div>
    <div class='panelBody'>
        <div class='panelToolbar'>
            <div class='formFields'>
                <div>
                    <label>Date:</label>
                    <select style='min-width:50px;' (change)="onChangeDate($event)">
                        <option *ngFor="let date of dates" [value]="date">{{ datesObj[date] }}
                        </option>
                    </select>
                </div>
                <div>
                    <label>Per Page:</label>
                    <select style='min-width:50px;' (change)="onChangePerPage($event)">
                        <option *ngFor="let count of perpage" [value]="count">{{ count }}
                        </option>
                    </select>
                </div>

                <input type='button' value='Receive' class='button' (click)="getMessages()" />
            </div>
        </div>
        <table-component *ngIf="receivedMessages" (clickPage)="getMessages($event)" [tableContent]="errorContent"
            [browserTitle]="title">
        </table-component>
    </div>
    <app-loader-component *ngIf="showLoader"></app-loader-component>
</div>